git "git@github.ibm.com:CardKit/cardkit.git" "master"
git "git@github.ibm.com:CardKit/cardkit-runtime.git" "master"
git "git@github.ibm.com:CardKit/cardkit-drone.git" "master"

# watson swift sdk
github "watson-developer-cloud/swift-sdk"
